.MuiAutocomplete-popper .MuiAutocomplete-paper {
  border-radius: 16px;
}

.MuiAutocomplete-paper .MuiAutocomplete-listbox {
  background-color: hsl(0, 0%, 98%);
  padding: 0;
  
}
.MuiAutocomplete-paper .MuiAutocomplete-listbox .MuiAutocomplete-option {
  padding: 1rem 1.5rem;
}
.MuiAutocomplete-listbox .MuiAutocomplete-option:focus {
  background-color: hsl(1, 100%, 100%);
}

.MuiAutocomplete-paper .MuiAutocomplete-listbox .MuiAutocomplete-option.Mui-focused[aria-selected="true"],
.MuiAutocomplete-paper .MuiAutocomplete-listbox .MuiAutocomplete-option[aria-selected="true"] {
  /* background-color: hsl(1, 100%, 66%); */
  background-color: hsl(223, 94%, 93%);
  /* background-color: hsl(221, 100%, 30%); */
  background-color: hsl(221, 94%, 80%);
  color: white;
}