.MuiAutocomplete-root .MuiAutocomplete-input::placeholder {
  font-size: 18px;
  font-weight: 400;
  color: rgb(0, 0, 0, 0.5);
  padding: 0 9px;
}
.MuiAutocomplete-popper .MuiAutocomplete-paper {
  border-radius: 16px;
}

.MuiAutocomplete-paper .MuiAutocomplete-listbox {
  background-color: hsl(0, 0%, 98%);
  padding: 0;
  
}
.MuiAutocomplete-paper .MuiAutocomplete-listbox .MuiAutocomplete-option {
  padding: 1rem 1.5rem;
}
.MuiAutocomplete-listbox .MuiAutocomplete-option:focus {
  background-color: hsl(1, 100%, 100%);
}

.MuiAutocomplete-paper .MuiAutocomplete-listbox .MuiAutocomplete-option.Mui-focused[aria-selected="true"],
.MuiAutocomplete-paper .MuiAutocomplete-listbox .MuiAutocomplete-option[aria-selected="true"] {
  background-color: hsl(1, 100%, 66%);
  color: white;
}