/* OutlinedChip */
.MuiChip-root.MuiChip-outlined.MuiChip-colorDefault {
  border: 1px solid hsl(221, 100%, 30%);
  color: hsl(221, 100%, 30%);
}

.MuiChip-root.MuiChip-outlined.MuiChip-colorDefault:hover {
  border: 1px solid hsl(221, 100%, 40%);
  color: hsl(221, 100%, 40%);
}

/* Filled Chip */
.MuiChip-root.MuiChip-filled.MuiChip-colorDefault {
  border: 1px solid hsl(221, 100%, 30%);
  background-color: hsl(221, 100%, 30%);
  color: white;
}

.MuiChip-root.MuiChip-filled.MuiChip-colorDefault:hover {
  border: 1px solid hsl(221, 100%, 40%);
  background-color: hsl(221, 100%, 40%);
  color: white;
}

/* Cancel Icon inside Chip */
.MuiChip-root .MuiSvgIcon-root.MuiChip-deleteIcon,
.MuiChip-root .MuiSvgIcon-root.MuiChip-deleteIcon:hover {
  /* color: hsl(221, 100%, 30%); */
  color: inherit;
}