.MuiTab-root.MuiButtonBase-root {
  color: hsla(222, 28%, 60%, 1);
  text-transform: none;
  font-size: 1rem;
}

.MuiTab-root.MuiButtonBase-root.Mui-selected {
  color: hsla(224, 50%, 29%, 1);
}

.MuiTabs-root .MuiTabs-indicator {
  background-color: hsla(224, 50%, 29%, 1);
}