.MuiTooltip-popper .MuiTooltip-arrow {
    color: #FEE300;
}

.MuiTooltip-popper .MuiTooltip-tooltip {
    background-color: #FEE300;
    color: black;
    font-size: 14px;
    max-width: 30vw;
    padding: 1.5rem;
    white-space: pre-line;
    text-align: justify;
}