.uploadWrapper {
    width: min(100%, 450px);
    /* border: 1px dashed hsla(222, 57%, 42%, 0.3); */
  }
  .uploadWrapper .label {
    margin-bottom: 16px;
    font-size: 1rem;
    color: var(--primary);
  }
  .uploadWrapper .label span {
    color: red;
  }
  .uploadWrapper .dragDropArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    text-align: center;
    min-height: 300px;
    /* width: 400px; */
    padding: 16px;
    background: #fff;
    border: 1px dashed hsla(222, 57%, 42%, 0.3);;
  }
  
  .uploadedImgContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 24px;
    color: hsl(0, 0%, 33%);
    font-size: 14px;
  }
  .uploadedImgContainer > div {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 4px;
  }
  
  .uploadWrapper .infoText {
    color: hsl(0, 0%, 40%);
    font-size: 12px;
  }
  
  .uploadContainer{
    width: 30%;
  }