.collabModalWrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.collabModalContainer {
  height: 70vh;
  width: 70vw;
  background-color: white;
  padding: 2rem;
  position: relative;
}

.collabModalTitle {
  color: #002F98;
  margin: 0;
}

.noAppIdMsg {
  color: red;
}

.fieldBtnContainer {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

.fieldWrapper {
  flex-grow: 1;
  flex-basis: 200px;
}

/* .addBtnWrapper {
} */

.emailListContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  height: calc(100% - 130px);
  overflow: auto;
}

.emailList {
  height: 100%;
}

.emailList .chipContainer {
  margin: 1rem 0rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow: auto;
  height: calc(100% - 56px);
}


.sbmtBtnContainer {
  position: absolute;
  right: 1.5rem;
  bottom: 1.5rem;
  display: flex;
  gap: 1rem;
}