.dashboardWrapper {
  background: hsl(202, 63%, 98%);
  height: 100vh;
  padding: 1rem 2.5rem;
}

.dashboardContainer {
  /* background: hsl(202, 63%, 98%); */
  position: relative;
  z-index: 10;
}

.dashboardContentWrapper {
  padding: 1rem 2rem;
  padding: 1rem 0px;
}

.tabContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.filterWrapper {
  margin: 2rem 0px;
}

.filterContainer {
  display: flex;
  gap: 1.75rem;
  /* margin: 1rem 0px; */
}

.applicationCardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
  gap: 1rem;
  overflow-y: auto;
}

.appCard {
  --blue: #002F98;
  --blue-dark-1: #002579;
  --blue-dark-2: #001B65;
  --white: #FFFFFF;
  --gray: #2E54AA40;
  background-color: var(--white);
  border: 1px solid var(--gray);
  border-radius: 16px;
  color: var(--blue);
  padding: 27px;
  transition: all 500ms;
  cursor: pointer;
  position: relative;
}

.appCard:hover {
  background-color: var(--blue);
  border: 1px solid var(--blue);
  color: var(--white)
}

.appCard h2 {
  color: black;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  margin: 16px 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100% - 48px);
  white-space: nowrap;
}

.appCard .cardStatus {
  display: inline-block;
  font-size: 12px;
  border: 1px solid var(--gray);
  border-radius: 20px;
  padding: 8px 16px;
  color: var(--blue);
}

.appCard .collabContainer p {
  font-size: 12px;
  margin-bottom: 8px;
}

.appCard .collabContainer .collabIcons {
  --gap: 4px;
  margin-left: var(--gap);
}

.appCard .collabContainer .MuiAvatarGroup-root {
  flex-direction: row;
}

.appCard .collabContainer .MuiAvatarGroup-root .MuiAvatar-root:last-child {
  margin-left: calc(var(--gap) * -1);
}

.appCard .collabContainer .MuiAvatarGroup-root .MuiAvatar-root {
  border: 1px solid var(--blue-dark-2);
  background-color: var(--white);
  color: var(--blue);
  margin-left: calc(var(--gap) * -1);
  font-size: 1rem;
}

.appCard:hover .collabContainer .MuiAvatarGroup-root .MuiAvatar-root {
  border: 1px solid var(--white);
  background-color: var(--blue-dark-2);
  color: var(--white);
}

.appCard:hover .cardStatus {
  color: var(--white);
  border-color: var(--white);
}

.appCard:hover h2 {
  color: inherit
}

.appCard .cardDetails {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.appCard .categoryContainer {
  /* margin-top: 40px; */
}

.appCard .cardDetails {
  margin: 1rem 0;
}

.appCard .cardDetails p {
  margin: 0;
}

.appCard .optionIcon {
  position: absolute;
  right: 28px;
  top: 13px;
}

.appCard img {
  width: 32px;
}

.appCard .appCardActionContainer {
  position: absolute;
  right: 28px;
  top: 75px;
  display: flex;
  gap: 23px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.appCard .appCardActionContainer.hovered {
  visibility: visible;
}

.cardButton.MuiButton-root.MuiButtonBase-root {
  border: 1px solid hsla(222, 57%, 42%, 0.2);
}

.cardTooltip.MuiTooltip-popper .MuiTooltip-tooltip {
  /* --bg-Clr: #2E54AA40; */
  --bg-Clr: hsl(222, 47%, 95%);
  background-color: var(--bg-Clr);
  padding: 1rem;
}
.cardTooltip.MuiTooltip-popper .MuiTooltip-tooltip .MuiTooltip-arrow::before {
  background-color: var(--bg-Clr);
}
.paginate{
  display: flex;
  justify-content: center;
  margin: 16px;
  /* font-family: ; */
  color: #929292;
}

/* .MuiButtonBase-root-MuiPaginationItem-root.Mui-selected{
  color: #2E54AA
} */