/*
 Text Field
*/

.MuiTextField-root {
  --color: hsl(0, 0%, 100%);
  --focusedColor: hsl(0, 0%, 100%);
  --hoverColor: hsl(0, 0%, 100%);
  --disableColor: hsl(0, 0%, 40%);
  /* --disableColor: red; */
}

.MuiTextField-root .MuiInputLabel-root {
  color: var(--color);
}

.MuiTextField-root fieldset.MuiOutlinedInput-notchedOutline {
  border-color: var(--color);
}

.MuiTextField-root .Mui-focused fieldset.MuiOutlinedInput-notchedOutline {
  border-color: var(--focusedColor);
}

.MuiTextField-root .MuiInputBase-root.Mui-disabled fieldset.MuiOutlinedInput-notchedOutline,
.MuiTextField-root .MuiInputBase-root.Mui-disabled .MuiOutlinedInput-input {
  border-color: var(--disableColor);
  color: var(--disableColor);
}

.MuiTextField-root .MuiInputBase-root:not(.Mui-disabled):hover fieldset.MuiOutlinedInput-notchedOutline {
  border-color: var(--hoverColor);
}

.MuiTextField-root .MuiOutlinedInput-input {
  color: var(--color);
}

.MuiTextField-root .MuiOutlinedInput-root {
  border-radius: 32px;
}

/* Helper Text */
.MuiTextField-root .MuiFormHelperText-root {
  color: var(--color)
}

.MuiTextField-root .MuiFormHelperText-root.Mui-disabled {
  color: var(--disableColor);
}



/*
 Button 
 */
.MuiButton-root.MuiButtonBase-root {
  background-color: hsl(0, 0%, 100%);
  color: hsl(219, 39%, 32%);
  border-color: hsl(0, 0%, 100%);
  border-radius: 32px;
  min-width: 140px;
  text-transform: none;
}

.MuiButton-root.MuiButtonBase-root:hover {
  background-color: hsl(228, 100%, 80%);
}

.MuiButton-root.MuiButtonBase-root.Mui-disabled {
  background-color: hsl(0, 0%, 50%);
  color: hsl(219, 39%, 32%);
}

.MuiButton-root.MuiButtonBase-root.MuiButton-contained {
  background-color: hsl(0, 0%, 100%);
  color: hsl(219, 39%, 32%);
  border-color: hsl(0, 0%, 100%);
}

.MuiButton-root.MuiButtonBase-root.MuiButton-contained:hover {
  background-color: hsl(228, 100%, 80%);
}

.MuiButton-root.MuiButtonBase-root.MuiButton-contained.Mui-disabled {
  background-color: hsl(0, 0%, 50%);
  color: hsl(219, 39%, 32%);
}

.MuiButton-root.MuiButtonBase-root.MuiButton-outlined {
  background-color: hsla(0, 0%, 0%, 0%);
  color: hsl(0, 0%, 100%);
  border-color: hsl(0, 0%, 100%);
}

.MuiButton-root.MuiButtonBase-root.MuiButton-outlined:hover {
  color: hsl(0, 0%, 70%);
  border-color: hsl(0, 0%, 70%);
}

.MuiButton-root.MuiButtonBase-root.MuiButton-outlined.Mui-disabled {}