.submitAppContainer {
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.commonContainer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* margin-top: 5%; */
    margin-left: 10%;
}
.imageWrapper{
    position: relative;
    margin: 0;
}