.sidebar.viewSidebar {
  color: white;
  justify-content: flex-start;
}

.QAWrapper {
  height: 100vh;
  flex-grow: 1;
  overflow-y: auto;
  width: 100%;
}

.QAContainer {
  margin: 3rem 8rem;
}

.QAContainer h3 {
  color: var(--Color-Primary);
}

.nestedConteiner {
  display: flex;
}

.nestedConteiner .QAContainer {
  margin: 0rem 1rem;
}

.nestedConteiner .QAContainer h3 {
  font-size: 1rem;
}

.answerContainer {
  padding-left: 2.5rem;
}

.nested {
  font-weight: 700;
}

.nestedContainer {
  display: flex;
  gap: 5rem;
}

.answerContainer ol,
.answerContainer ul {
  padding: 0;
}

.viewSidebarIconText {
  margin-left: 2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.cardStatus {
  display: inline-block;
  font-size: 12px;
  border: white;
  border-radius: 20px;
  padding: 8px 16px;
  /* color: white; */
}

.categoryTxt {
  font-size: 23px;
  font-weight: 400;
}

.rectangle {
  border: 1px solid #E6EDFE;
  align-items: center;
  display: flex;
  height: 9vh;
  padding: 20px;
  width: 41vw;
  background-color: #E6EDFE;
  border-radius: 14px;
}



/* Preview Application START */
.sidebarTopArea {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}

.sidebarTopArea .btnBack {
  position: absolute;
  left: 16px;
  font-size: 24px;
  cursor: pointer;
}


.sidebarMidArea {
  height: calc(100vh - 140px);
}

.btnSidebarBottom {
  display: flex;
  gap: 8px;
}

.btnSidebarBottom button.MuiButton-root.MuiButtonBase-root {
  /* padding: 4px 8px; */
  min-width: 124px;
}

/* Preview Application END */